<!DOCTYPE html >
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Dodge Mine</title>
    <link href="{{ url_for('static',filename='styles/templatemo_style.css') }}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/tabcontent.css') }}"/>
    <script type="text/javascript" src="{{ url_for('static',filename='js/tabcontent.js') }}"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>
<body>

	<div class="header_doge">
    	<div class="title_doge">
			<h1>Dodge Mine</h1></div>
    </div>
    
    <div id="templatemo_menu_panel">
    	<div id="templatemo_menu_section">
            <ul>
                <li><a href="index">Home</a></li>
                <li><a href="predict">Predict</a></li>
                <li><a href="instruction">Instructions</a></li>
                <li><a href="#" class="current">About</a></li>
            </ul> 
		</div>
    </div>
    
	<div id="templatemo_content_container" style="color:white;">
        <div id="templatemo_content">
            <h3>Mines</h3>
            <img src="static/images/mine.gif" style="width:300px;height:270px;"/>
            <div class="templatemo_right_section">
                <ul>
                    <li><a>Mines, Naval. Underwater explosive devices are designed to sink ships, submarines, or 
                        other seaborne craft or by such threat to prevent them from using an area.</a></li>
                    <li><a>Naval mines originated in the sixteenth century, but their use in naval combat began in 
                        the American Revolutionary War by David Bushnell, who placed such devices under the hulls of 
                        British ships in New York harbor using a small one‐man, wooden submarine he invented. During 
                        the Civil War</a></li>
                </ul>
            </div>

            <h3>Rocks</h3>
            <img src="static/images/templatemo_image_01.jpg" style="width:300px;height:270px;"/>
            <div class="templatemo_right_section">
                <ul>
                    <li><a>Sea Rocks make up the outer layer of the earth.Sea Rocks make up the areas of Earth’s 
                        outer layer that are below the sea</a></li>
                    <li><a>Sedimentary rocks are one of three main types of rocks, along with igneous and metamorphic. They are formed on or near the 
                        Earth's surface from the compression of ocean sediments or other processes.</a></li>
                </ul>
            </div>

            <h3>Rocks and Mines</h3>
            <div class="templatemo_right_section">
                <ul>
                    <li><a>Relatively little attention has been paid to naval mines for quite some time, because they 
                        have rarely been used in recent years. They are known as inexpensive, self-contained explosive 
                        devices with significant tactical, operational and strategic value. Despite their military 
                        qualities, they continue to pose a risk for civilian populations and commercial shipping in 
                        times of armed conflict. Their reappearance and employment by armed actors in places such as 
                        the Red Sea, the Mandeb Strait and the Sea of Azov, warrants Geneva Call’s attention due to 
                        their harmful impact for civilians. For this purpose, a short analysis on this weapon’s 
                        historical background and the applicable normative framework to sea minelaying practices 
                        and their use will be set out.</a></li>

                    <li><a>David Bushnell is known as the inventor of sea mines. During the American revolutionary war 
                        in 1777, he set adrift what were known as floating explosive torpedoes in the Delaware River, 
                        hoping to take a British ship as a casualty. It took out a small boat by the HMS Cerberus, a 
                        British frigate, killing four sailors. These would be the first casualty of sea mines in naval 
                        history. In the years after, mines became seen as "devilish" and "unchivalrous" in combat.</a></li>

                    <li><a>One of the top global mine threats comes from China. It has been estimated that Beijing has as many 
                        as 100,000 such weapons. Those range from the old-fashioned moored contact mine to include mines that 
                        have rocket-propelled weapons and target detection systems. In the event of a conflict with China, the 
                        United States is unlikely to approach warfare from the land. That leaves us with the seas as the place 
                        of where conflict is most likely to play out.</a></li>
                    
                    <li><a>Beijing would likely concentrate on creating choke points in areas such as the archipelagos that 
                    separate East Asia from the Middle East and the South China Sea. That means that sea control and 
                    navigating around China’s anti-access and area denial capabilities will be crucial. It’s 
                    reasonable to expect that the Chinese would use mines there, and reasonable to expect that they would 
                    use mines if they decided to use force against Taiwan. Moving through those straits is crucial and being 
                    able to clear them of mines is equally important.</a></li>    
                </ul>
            </div>

        </div> 
    </div>

    
    
    <div id="templatemo_footer_panel">
        <div id="templatemo_footer_section">
            Copyright © 2022 <a href="#">Dodge Mine</a>
        </div>
    </div>
</html>